.hierarchy-list-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hierarchy-list-header-tokens {
  margin-left: 0.5rem;
  flex: 1;
}
.hierarchy-list-token {
  display: block;
}

.filter-list-content {
  max-height: 400px;
  overflow: auto;
}
.filter-list-optgroup {
  position: sticky;
  top: 0;
  z-index: 100;
}
.filter-list-optgroup strong {
  display: block;
  margin-bottom: 0;
}

.measure-label .name {
  display: block;
}
.measure-label .source {
  display: block;
  font-size: 0.7em;
}
.measure-label .dimensions {
  white-space: normal;
}
